

<!--主体内容-->
<main>
    <div class="container">
        <!--左部分-->
        <div class="col-lg-9 col-md-9 main-left">
            <!--标题栏-->
            <div class="title index-title">
                <a href="javascript:;" class="pull-left discover">
                    <span class="fa fa-bars"></span>
                    发现
                </a>
                <ul class="pull-right tab">
                    <li category="share"><a href="javascript:;">分享</a></li>
                    <li category="ask"><a href="javascript:;">问答</a></li>
                    <li category="job"><a href="javascript:;">招聘</a></li>
                </ul>
            </div>
            <!--内容-->
            <div class="body index-body">
                <ul class="index-question">
                    <% include public/index-questions %>
                </ul>
                <!--分页-->
                <div class="btn-group pull-right">
                    <% if(allQuestion.length > 5) { %>
                    <% for(var i = 1; i <= Math.ceil(allQuestion.length / 5); i++) { %>
                    <button type="button" class="index-btn btn btn-default"><%= i %></button>
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <!--右部分-->
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs main-right">
            <% if(user) { %>
                <!--个人信息-->
                <div class="message">
                    <h4>个人信息</h4>
                    <div>
                        <img class="pull-left" src="<%= user.avatar %>" alt="">
                        <a href="/user/<%= user.name %>"><%= user.name %></a></span>
                        <a href="/user/<%= user.name %>" class="more pull-right">更多</a>
                    </div>
                    <p><%= user.motto %></p>
                </div>
            <% } %>
            <!--热门用户-->
            <div class="hot">
                <h4>热门用户<a href="/users" class="more pull-right">更多</a></h4>
                <% include public/hot-users %>
            </div>
        </div>
    </div>
</main>

<script>
    $(function () {
        $('.index-btn:first-of-type').addClass('active')
        // 内容部分筛选特效
        $('.main-left .tab li').on('click', function () {
            $(this).addClass('hover').siblings().removeClass('hover');
            $('.btn-group').addClass('hide');
        })
    })
</script>