<% replies.forEach(function (reply, index) { %>
<li id="<%= reply._id %>" class="comment-body-list clearfix">
    <a class="head-img pull-left" href="#"><img src="<%= reply.author.avatar %>" alt=""></a>
    <div class="col-lg-11 comment-list-content">
        <a class="comment-author" href="#"><%= reply.author.name %></a></span>
        <p><%- markdown(reply.content) %></p>
        <div class="meta">
            <a href="#">
                <span class="fa fa-thumbs-up"></span>
                0
            </a>
            &nbsp;
            <a href="#">
                <span class="fa fa-thumbs-down"></span>
                0
            </a>
            &#x3000;
            <a href="javascript:;" class="reply">
                <span class="fa fa-commenting"></span>
                1 条回复
            </a>
            <span class="pull-right"><%= reply.create_time_ago() %></span>
        </div>
        <% include public/comment-list %>
    </div>
</li>
<% }) %>